@use '../utils/breakpoints';

.carousel-section {
    @include breakpoints.media-breakpoint-up( 830px ) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        align-items: center;
        padding: 5%;
    }
}

.product-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 5% 5rem 5%;

    > .company {
        text-transform: uppercase;
        color: #e37e2e;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: .1rem;
    }

    > .title {
        font-weight: bold;
    }

    > .description {
        opacity: .7;
    }

    > .price-info {
        display: flex;
        align-items: center;
        gap: 1rem;

        > .price {
            font-weight: bold;
        }

        > .discount {
            font-size: 1rem;
            font-weight: bold;
            border-radius: .3rem;
            background-color: #fff0e2;
            color: #e37e2e;
            padding: .2rem .5rem;
        }

        > .prev-price {
            font-size: 1rem;
            font-weight: bold;
            text-decoration: line-through;
            color: #b2b3b7;
            margin-left: auto;
        }
    }

    > .actionbox {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include breakpoints.media-breakpoint-up( 830px ) {
            display: grid;
            grid-template-columns: auto 1fr;
        }
    }
}