.header-section {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;

    > .user {
        display: flex;
        gap: 1rem;
        margin-left: auto;
        
        > .avatar {
            width: 3rem;
        }
    }
}